* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 160px;
  background-color: transparent;
  z-index: 10;
}
.header .container .menu .navbar .container-fluid .navbar-brand img {
  width: 100%;
}
.header .container .menu .navbar .container-fluid .collapse {
  justify-content: flex-end;
}
.header .container .menu .navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin-right: 30px;
}
.header .container .menu .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: black;
  font-weight: 300;
  font-size: 14px;
}
.header .container .menu .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #BC3D8F;
}
.header .container .menu .navbar .container-fluid .collapse .header-btn button {
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #BC3D8F;
  border: 1px solid #BC3D8F;
}
.header .container .menu .navbar .container-fluid .collapse .header-btn button:hover {
  color: #BC3D8F;
  background-color: transparent;
  border: 1px solid #BC3D8F;
}
.header .container .menu .navbar .container-fluid .collapse .icon i {
  margin-left: 10px;
  font-size: 16px;
}
.header .container .menu .navbar .container-fluid .collapse .icon i:hover {
  color: #BC3D8F;
}

.carousel {
  background-image: url(../../img/yellow_top_wave_01.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.carousel .container .row {
  align-items: center;
}
.carousel .container .row .col-6 h3 {
  color: #BC3D8F;
  font-size: 16px;
}
.carousel .container .row .col-6 h1 {
  font-size: 50px;
  font-weight: 700;
}
.carousel .container .row .col-6 img {
  width: 100%;
}

.staff {
  background-image: url(../img/Violet_top_left_wave.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.staff .container .row {
  justify-content: space-between;
}
.staff .container .row .card {
  padding: 0;
  border: none;
  margin-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.staff .container .row .card:hover {
  box-shadow: 1px 9px 5px 0px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 1px 9px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 1px 9px 5px 0px rgba(0, 0, 0, 0.17);
  transition: all 0.5s;
}
.staff .container .row .card:hover img {
  transform: scale(1.1);
  transition: all 1s;
}
.staff .container .row .card img {
  width: 100%;
}
.staff .container .row .card .card-body {
  text-align: center;
}
.staff .container .row .card .card-body .card-title {
  color: #BC3D8F;
  font-size: 10px;
}
.staff .container .row .card .card-body h3 {
  font-weight: 700;
}
.course {
  background-image: url(../img/accent_bottom_wave_01.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.course .container {
  padding: 50px 0;
}
.course .container .row .thumbnail img {
  max-width: 100%;
}
.course .container .row .form .form-title h1 {
  font-size: 50px;
  font-weight: 700;
}
.course .container .row .form .form-body .form-contact .contactRow {
  position: relative;
}
.course .container .row .form .form-body .form-contact .contactRow i {
  position: absolute;
  top: 13px;
  left: 25px;
  color: #BC3D8F;
}
.course .container .row .form .form-body .form-contact .contactRow input {
  padding: 8px 35px;
}
.course .container .row .form .form-body .form-contact .contactRow .fancy-select select {
  padding: 8px 35px;
}
.course .container .row .form .form-body .form-contact .contactRow span {
  color: #BC3D8F;
}
.course .container .row .form .form-body .form-contact .contactRow textarea {
  padding: 8px 35px;
}
.course .container .row .form .form-btn button {
  border-radius: 50px;
  background-color: #BC3D8F;
  padding: 10px 50px;
  border: 1px solid transparent;
}
.course .container .row .form .form-btn button:hover {
  background-color: transparent;
  border: 1px solid #BC3D8F;
  color: #BC3D8F;
}

.footer {
  background-image: url(../img/footer_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
}
.footer .container {
  color: white;
  font-size: 14px;
  padding: 50px 0;
}
.footer .container .row .footer-title {
  margin-bottom: 15px;
}
.footer .container .row ul {
  margin-left: 0px !important;
}
.footer .container .row ul li {
  list-style: none;
  margin-bottom: 15px;
}
.footer .container .row ul li p {
  display: inline-block;
}
.footer .container .row ul li a {
  text-decoration: none;
  color: white;
}
.footer .container .row ul li a:hover {
  opacity: 0.8;
}
.footer .container .row ul li i {
  margin-left: 10px;
}
.footer .container .row ul li i:hover {
  color: black;
}
.footer .container .row .form-footer input {
  border-radius: 50px;
  background-color: transparent;
  margin-bottom: 10px;
  width: 59%;
}
.footer .container .row .form-footer ::placeholder {
  color: white;
}
.footer .container .row .form-footer button {
  color: black;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 10px 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer .container .row .form-footer button:hover {
  background-color: #AA017E;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */