//color 
$text-c1-purple: #BC3D8F;
$text-c1-black: black;

//fontsize

$fs-1:10px;
$fs-4:14px;
$fs-3:16px;
$fs-2:20px;
$fs-5:50px;
//font-weight
$fw-light:300;
$fw-regular:600;
$fw-semi:700;
$fw-bold:900;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
}
.header{
    position: absolute;
    top: 0;
    left: 160px;
    background-color: transparent;
    z-index: 10;
    
    
    .container{
        .menu{
            .navbar{
                .container-fluid{
                    .navbar-brand{
                        img{
                                width: 100%;
                        }
                    }
                    .navbar-toggler{
                        .navbar-toggler-icon{
                            
                        }
                    }
                    .collapse{
                        justify-content: flex-end;
                        
                        .navbar-nav{
                            .nav-item{
                                margin-right: 30px;
                                .nav-link{
                                    color: $text-c1-black;
                                    font-weight:$fw-light;
                                    font-size: $fs-4;
                                    &:hover{
                                        color: $text-c1-purple;
                                    }
                                }
                            }
                            
                        }
                        .header-btn{
                            button{
                                border-radius: $fs-2;
                                padding: $fs-1 $fs-2;
                                margin-right: $fs-2;
                                background-color: $text-c1-purple;
                                border: 1px solid $text-c1-purple;
                                &:hover{
                                    color: $text-c1-purple;
                                    background-color: transparent;
                                    border: 1px solid $text-c1-purple;
                                }
                                i{

                                }
                                span{
    
                                }
                            }
                            
                        }
                        .icon{
                            i{
                                    margin-left: $fs-1;
                                    font-size: $fs-3;
                                    &:hover{
                                        color:#BC3D8F;
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}
.carousel{
    background-image: url(../../img/yellow_top_wave_01.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    .container{
    
        .row{
            align-items: center;
            .col-6{
                h3{
                    color: $text-c1-purple;
                    font-size: $fs-3;

                }
                h1{
                    font-size: $fs-5;
                    font-weight: $fw-semi;
                }
            }
            .col-6{
                img{
                    width: 100%;
                }
            }
        }
    }
}
.staff{
    background-image: url(../img/Violet_top_left_wave.png);
    background-size: cover;
    background-repeat:no-repeat;
    .container{
        .row{
            justify-content: space-between;
           
            .card{
                padding: 0;
                border: none;
                &:hover{
                    box-shadow: 1px 9px 5px 0px rgba(0,0,0,0.17);
                    -webkit-box-shadow: 1px 9px 5px 0px rgba(0,0,0,0.17);
                    -moz-box-shadow: 1px 9px 5px 0px rgba(0,0,0,0.17);
                    transition: all 0.5s;
                    img{
                        transform: scale(1.1);
                        transition: all 1s;
                    }
                }
                margin-bottom: $fs-5;
                padding-left: 0;
                padding-right: 0;
                overflow: hidden;
                img{
                    width: 100%;
                }
                .card-body{
                    text-align: center;
                    .card-title{
                        color: #BC3D8F;
                        font-size: $fs-1;
                        
                    }
                    h3{
                        font-weight: $fw-semi;
                    }
                    .card-text{

                    }
                }

            }
        }
    }
}