//color 
$text-c1-purple: #BC3D8F;

//fontsize
$fs-1:16px;
$fs-5:50px;

.header{
    background-image: url(../../img/yellow_top_wave_01.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        .menu{
            .navbar{
                .navbar-brand{
                    img{
                    
                    }
                }
                .collapse{
                    .navbar-nav{
                        .nav-item{
                            a{

                            }
                        }
                    }
                    .header-btn{

                    }
                    .icon{

                    }
                }
            }
        }
    }
}
.carousel{
    .container{
        .row{
            align-items: center;
            .col-6{
                h3{
                    color: $text-c1-purple;
                    font-size: $fs-1;
                }
                h1{
                    font-size: $fs-5;
                }
            }
            .col-6{
                img{
                    width: 100%;
                }
            }
        }
    }
}
.staff{
    .container{

    }
}